@import url(https://fonts.googleapis.com/css?family=Pacifico);

header{
	text-align: center;
}

header img {
	margin:auto;
}

nav {
	font-family: 'Pacifico', sans-serif;
	text-align: center;
	padding: 3em;
}

.class {
	border: 1px black solid;
}

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}