@import url(https://fonts.googleapis.com/css?family=Pacifico);

body  {
	
  	font-size: 16px;
}

footer {
	text-align: center;
	padding: 3em;
}

header{
	text-align: center;
}

header img {
	margin:auto;
}

li {
	text-align: center;
}
nav {
	font-family: 'Pacifico', sans-serif;
	text-align: center;
	padding: 3em;
}

section{
	text-align: center;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
	padding: 3em;
}

h3 {
	text-align: center;
}

.class {
	border: 1px black solid;
}

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}