#slider {
    width: 640px;
    height: 360px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 360px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 640px;
    height: 360px;
}

/* helper css, since we don't have images */
.slide1 {background: red;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}
.slide6 {background: red;}
.slide7 {background: blue;}
.slide8 {background: green;}
.slide9 {background: purple;}
.slide9a {background: pink;}
.slide9b {background: orange;}
.slide9c {background: pink;}
.slide9d {background: yellow;}
.slide9e {background: pink;}
