*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

article{
	margin: auto;
	padding: 5em;
	width: 100%;
}
aside{
	
}
body 	{
	
	font-size: 16px;
}

footer{
	margin:auto;
	padding: 5em;
	width: 100%;
}

header {
	
	padding: 2em;
}

iframe{
	
	
}

main {
	border: 2px black solid;

} 

nav {
	border: 2px black solid;
	margin:auto;
	padding: 2em;
	text-align: center;
}

h1{

}

h2{
	padding:2em;
}

#column1 {
	background-color: pink;
	border:1px black solid;
    box-sizing:border-box;
    
    
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 33%;
 }

 #column2{
 	background-color: blue;
 	border: 1px black solid;
    box-sizing:border-box;
    
    
    margin:auto;
    padding: 2em;
    text-align: center;
    width: 33%;
 }

#column3 {
	background-color: red;
    box-sizing:border-box;
    border: 1px black solid;
   	margin: auto;
    padding: 2em;
    text-align: center;
    width: 33%;
 }

#column4 {
	background-color: yellow;
    
    border: 1px black solid;
    box-sizing:border-box;
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 49%;
}

#column5 {
	background-color: green;
    border: 1px black solid;
    box-sizing:border-box;
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 49%;
}

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.column {
	float: left;
	margin: 0;
	padding: 5em;
}

.images {
	float: left;
	margin: auto;
	padding: 5em;
}