body 	{
	background-image: url("images/td.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
}
header {
	border: 2px white solid;
	padding: 2em;
}

main {
	border: 2px black solid;
} 

.images {
	float: left;
	padding: 2em;
}