body  {
    background-color: #394C5F;
    background-image:   
                -webkit-linear-gradient(135deg,
                    #16293B 0%,
                    #16293B 25%, 
                    rgba(255, 255, 255, 0.0) 25%,
                    rgba(255, 255, 255, 0.0) 75%,
                    #16293B 75%,
                    #16293B 100%
                      );
    background-image:   
                -moz-linear-gradient(135deg,
                    #16293B 0%,
                    #16293B 25%, 
                    rgba(255, 255, 255, 0.0) 25%,
                    rgba(255, 255, 255, 0.0) 75%,
                    #16293B 75%,
                    #16293B 100%
                      );
    background-image:   
                -ms-linear-gradient(135deg,
                    #16293B 0%,
                    #16293B 25%, 
                    rgba(255, 255, 255, 0.0) 25%,
                    rgba(255, 255, 255, 0.0) 75%,
                    #16293B 75%,
                    #16293B 100%
                      );
    background-image:   
                -o-linear-gradient(135deg,
                    #16293B 0%,
                    #16293B 25%, 
                    rgba(255, 255, 255, 0.0) 25%,
                    rgba(255, 255, 255, 0.0) 75%,
                    #16293B 75%,
                    #16293B 100%
                      );
    background-image:   
                linear-gradient(135deg,
                    #16293B 0%,
                    #16293B 25%, 
                    rgba(255, 255, 255, 0.0) 25%,
                    rgba(255, 255, 255, 0.0) 75%,
                    #16293B 75%,
                    #16293B 100%
                      );
    background-size: 50px 50px;
}



html {
  height: 2000px;
}
.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
}
.mobile div {
  display: none;
}
.mobile button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
}
a {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
a:hover,
a:active,
a:focus {
  background: #e7e7e7;
}
.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  width: 25%;
  float: left;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.desktop a:last-child {
  border-right: none;
}
article {
  padding: 0 30px 15px;
}
@media only screen and(max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}