body 	{
	background-image: url("images/sunset2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1	{
	text-align:	center;
	font-family: sans-serif;
	margin:70px 0 70px;

}
h2 {
	font-family:	serif;
	color:	#ffffff;
	text-align: center;
	font-size:1em;
	line-height:1.5em;
}
nav {
	text-align:center;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 5px;
}
p   {
	color:	#ffffff;
}
ul	{
	text-align: center;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.navlinks	{
	color: #16fdff;
	text-align:	center;
}	





