body 	{
	background-image: url("images/sunset2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1	{
	text-align:	center;
	font-family: sans-serif;
	margin:70px 0 70px;

}
h2 {
	font-family:	serif;
	color:	#ffffff;
	text-align: center;
	font-size:1em;
	line-height:1.5em;
}
ul	{
	text-align: center;
	color: #ffffff;
}
.navlinks	{
	color: #16fdff;
	text-align:	center;
}	
#social li {
	display:inline;
	padding-left:	50px;
	padding-right:	50px;
	text-align:	center;
}




