body 	{
	margin-top:100px;
	background-image: url("images/sunset2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1	{
	text-align:	center;
	font-family: sans-serif;

}
h2,p,ul {
	font-family:	serif;
	color:	#ffffff;
}