@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html, body {
  height: 100%;
}

article {
  
  margin: auto;
  padding: 3em;
  text-align: center;
}

article a{
  display: block;
  margin: auto;
  text-align: center;
}

aside {
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  text-align: center;
}

aside img{
  margin-left: auto;
  margin-right: auto;
  
  
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background: -webkit-linear-gradient(left, #858C07, #D1CB0A, #F2EB0C, #F2FF0C, #F2FF5C);
  background: -moz-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -o-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -ms-linear-gradient(left, #858C07, #D1CB0A,  #F2EB0C, #F2FF0C, #F2FF5C);
  padding: 3em;
  text-align: center;
}

footer a {
  padding: 1em;
}

header img {
  
  
  width: 100%;
}

main {
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: white;
  margin: auto;
  padding: 5em;
  text-align: center;
  width: 55%;
}

nav {
  background: -webkit-linear-gradient(left, #858C07, #D1CB0A, #F2EB0C, #F2FF0C, #F2FF5C);
  background: -moz-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -o-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -ms-linear-gradient(left, #858C07, #D1CB0A,  #F2EB0C, #F2FF0C, #F2FF5C);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /*background-color: #f5f5f5;*/
  font: 'Pacifico', sans-serif;

}

section {
  
  margin: auto;
  padding: 3em;
  text-align: center;
}

section a {
  display: block;
  margin: auto;
  text-align: center;
}

p {
  margin: auto;
  text-align: center;
  width: 50%;
}

ul {
  font: 'Pacifico', sans-serif;;
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

h1 {
  background: -webkit-linear-gradient(left, #858C07, #D1CB0A, #F2EB0C, #F2FF0C, #F2FF5C);
  background: -moz-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -o-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -ms-linear-gradient(left, #858C07, #D1CB0A,  #F2EB0C, #F2FF0C, #F2FF5C);
  padding: 30px 0;
  font: 1.5em 'Pacifico', sans-serif;

  text-align: center;
}

h2{
  margin:auto;
  padding:1em 0 1em 0;
  text-align: center;
}

h3 {
  margin:auto;
  padding: 0 0 1em 0;
  text-align: center;
}

h4{
  margin:auto;
  text-align: center;
}



ul a {
  display: block;
  padding: 20px;
  padding-right: 0 !important; /* important overrides media queries */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

ul a:hover {
  background: #eee;
}

nav li {
  float: left;
  width: 20%;
  border-right: 1px solid #ddd;
}

nav li:last-child {
  border-right: none;
}

#blue {
  background: -webkit-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -moz-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -o-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -ms-linear-gradient(left, #6EC2C9 , #8bf5ff);
}

#cloud  {
  background-image: images("cloud.jpeg");
}

#column1 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#column2 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#column3 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#column4 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#column5 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#column6 {
  /*background-color: #8BF5FF;*/
  border:1px black solid;
  padding: 2em;
  width: 30%;
}

#facebook {
  display: block;
  padding:5em 0 5em 24em;
  text-align: center;
  
}

#map {
  background: -webkit-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -moz-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -o-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -ms-linear-gradient(left, #6EC2C9 , #8bf5ff);
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  width: 40em;

}

#yellow  {
  background: -webkit-linear-gradient(left, #858C07, #D1CB0A, #F2EB0C, #F2FF0C, #F2FF5C);
  background: -moz-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -o-linear-gradient(left, #858C07, #D1CB0A ,  #F2EB0C, #F2FF0C, #F2FF5C);
  background: -ms-linear-gradient(left, #858C07, #D1CB0A,  #F2EB0C, #F2FF0C, #F2FF5C);
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  background: -webkit-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -moz-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -o-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -ms-linear-gradient(left, #6EC2C9 , #8bf5ff);
  margin: auto;
  padding: 5em;
}

.css-slideshow{
  background: -webkit-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -moz-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -o-linear-gradient(left, #6EC2C9 , #8bf5ff);
  background: -ms-linear-gradient(left, #6EC2C9 , #8bf5ff);
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media only screen and (max-width: 975px) {

.imagelinks img{
  display: block;
}

#facebook {
  padding: 4em 0 4em 12em;
}

}

@media only screen and (max-width: 750px) {
  
  main {
    width: 100%;
  }

  p{
    width: 100%;
  }

  #column1,#column2,#column3,#column4,#column5,#column6{
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 10%;
    
  }
}

  @media only screen and (max-width: 600px) {

    main {
      width: 100%;
    }

    
  
}

  #column1,#column2,#column3,#column4,#column5,#column6{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        width: 65%;
    }
}

 




@media only screen and (max-width: 460px) {  

    #column1,#column2,#column3,#column4,#column5,#column6{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        position: center;
        text-align: center;
        width: 85%;
} 

}