*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body   {
	margin: auto;
	text-align: center;
}



form   {
	border: 2px black solid;
	height: 10%;
	margin: auto;
	padding: 2em;
	width: 45%;
}

h1   {
	margin: auto;
	padding: 2em;
	text-align: center;
}

h2  {
	margin: auto;
	padding: 2em;
	text-align: center;
}


main {
	padding: 2em;
}

map {

}

p  {
	text-align: center;
}

table {
	width: 45%;

}


table, th,td {
	border: 2px black solid;
	border-collapse: collapse
	margin: auto;
	padding: 2em;
	text-align: center;
	
}

th,td   {
	width: 20%;
}

#formone  {
	float: left;
	display: inline;
	height: 15%;
}

#formtwo  {
	display: block;
	float: right;
}


.clearfix:after {
	clear: both;
	content:' ';
	display: table;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.container {
	display: block;
	
	overflow: hidden;
	width: 100%;
}




.jerry {
	float: left;
}

.outline {
	border: none;
	margin: auto;
	text-align: center;
	
}

.reservationform   {
	border: 2px black solid;
}

.review  {
	float:right;
}

.tom  {
	border: 2px black solid;
	height: 25%;
	width: 100%;
}