@import url(https://fonts.googleapis.com/css?family=Maven+Pro:900);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
	
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	
}

article{
	background-color: #E89C6C;
	border: 1px black solid;
	display: inline;
	height: 320px;
	padding: 2%;
	width: 100%;
}
aside{
	background-color: #FFC675;
	border: 1px black solid;
	float: left;
	height: 204px;
    padding: 2%;
    width: 100%;
}

body{

}


footer{
	background-color: #FF957E;
	border: 1px black solid;
	font-family: 'Noto Serif', serif;
	letter-spacing: 4px;
	padding: 3%;
	text-align:	center;
}
footer a{
	color: #16fdff;
}
header{
	background-color: #FFED74;
	border: 1px black solid;
	font-family: sans-serif;
	font-weight: 800;
	padding: 2%;
	text-align: center;
}
img{
	border: 1px black solid;
	display: block;
	float: left;
	height: 295px;
	margin: auto;
	padding: 1%;
	width: 35%;
}

label {
	display: none;
	font-family: sans-serif;
}


nav {
	background-color: #E8C66A;
	border: 1px black solid;
	font-family: 'Noto Serif', serif;
	letter-spacing: 4px;
	padding: 3%;
	text-align:	center;
}
nav a{
	color: #16fdff;
}
a{
	background-color:#FF530D;
	display: inline;
	padding: 3%;
	width: 20%;
	text-decoration: none;
}
a:hover{
	background-color: #7F00FF;
	color: #3AFF3C;
}
a:active{
	background-color: #E8C66a;
	color: #3AFF3C;
}
main {
	background-color: #FFE2B8;
	border: 1px black solid;
	display: inline;
	height: 320px;
	padding: 2%;
	width: 100%;
}

section{
	width: 100%;
}

h1{
	
}

h2{

}

ul	{
	text-align: center;
	color: #ffffff;
	padding-top: 3%;
	padding-bottom: 3%;
}

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

#check {
	display: none;
}

#images{
	width: 50%;
	float:left;
	display: block;
	/*margin:0 o 10px 10px;*/
	border: 1px solid #666;
	padding: 1%;
}

#left {
	background-color: #7F00FF;
	border: 1px black solid;
	float: left;
	padding: 2%;
	width: 50%;
}

#right {
	background-color: #ff69b4;
	border: 1px black solid;
	float: right;
	padding: 2%;
	width: 50%;
}

#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 2%;
}

#wrapper{
	float: left;
	width: 100%;
}

@ media screen and (max-width: 510px) {
	label {
		display: block;
		text-align: center;
	}

#check: checked + nav + footer {
	display: block;
}	
}

@ media screen and (max-width: 1070px) {

}