@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {

}

footer {
	padding: 3em;
	text-align: center;
}

header{
	margin:auto;
	text-align: center;
	width: 90%;
}

header img {
	height: 20%;
 	width: 90%;
}

h1 {
	font-family: 'Pacifico' , sans-serif;
}
.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

