@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

article {
	
	margin: auto;
	padding: 3em;
	text-align: center;
}

article a{
	display: block;
}

aside {
	margin: auto;
	padding: 3em;
	text-align: center;
}

aside img{
	min-height: 250px;
	min-width: 250px;
}

body {
	font-size: 16px;
}

footer {
	padding: 3em;
	text-align: center;
}

footer a {
	padding: 1em;
}

header{
	margin:auto;
	text-align: center;
	width: 90%;
}

header img {
	height: 30%;
 	width: 90%;
}

main {
	margin: auto;
	padding: 3em;
	text-align: center;
	width: 55%;
}

nav {
	background-color: #Edc617;
	border: 1px black solid;
	font-family: 'Noto Serif', serif;
	letter-spacing: 2px;
	padding: 2em;
	text-align:	center;
}

nav a{
	background-color: #a18610 ;
	color: #16fdff;

}

nav a:hover{
	background-color: #9E61A1;
	color: #3AFF3C;
}

nav a:active{
	background-color: #9E61A1;
	color: #3AFF3C;
}

section {
	
	margin: auto;
	padding: 3em;
	text-align: center;
}

section a {
	display: block;
}

p {
	margin: auto;
	text-align: center;
	width: 50%;
}

ol {
	margin: auto;
	text-align: center;
}


ul {
	margin: auto;
	text-align: center;
}

h1 {
	font-family: 'Pacifico' , sans-serif;
	margin:auto;
	text-align: center;
}

h2{
	margin:auto;
	text-align: center;
}

h3 {
	margin:auto;
	text-align: center;
}

h4{
	margin:auto;
	text-align: center;
}

#column1 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column2 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column3 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column4 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column5 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column6 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#jackie  h3{
	opacity: 1;
	position: absolute;
	top: 10%;
	left: 5%;
	-webkit-transform:translateX(-50%);
	-moz-webkit-transform:translateX(-50%);
	-o-webkit-transform:translateX(-50%);
	-ms--webkit-transform:translateX(-50%);
	-webkit-transition:opacity ease-in-out .5s;
	-moz-webkit-transition:opacity ease-in-out .5s;
	-o-webkit-transition:opacity ease-in-out .5s;
	-ms-webkit-transition:opacity ease-in-out .5s;
	
	
}

#jackie:hover > h3 {
	opacity: 1;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.column {
	float: left;
	margin: auto;
	padding: 5em;
}

.imagelinks {
	float: left;
}

.message  {
	text-align: justify;
}

@media only screen and (max-width: 975px) {

.imagelinks img{
	display: block;
}
}

@media only screen and (max-width: 750px) {
	nav a {
		display: block;
	}

	p{
		width: 75%;
	}

	#column1,#column2,#column3,#column4,#column5,#column6{
		
		width: 10%;
		padding: 1em;
	}
}

	@media only screen and (max-width: 600px) {
	aside img{
		min-height: 200px;
		
}
	

}