@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

article {
	
	margin: auto;
	padding: 3em;
	text-align: center;
}

article a{
	display: block;
}

aside {
	margin: auto;
	padding: 3em;
	text-align: center;
}

aside img{
	min-height: 250px;
	min-width: 250px;
}

body {
	font-size: 16px;
}

footer {
	padding: 3em;
	text-align: center;
}

footer a {
	padding: 1em;
}

header{
	margin:auto;
	text-align: center;
	width: 90%;
}

header img {
	height: 30%;
 	width: 90%;
}

main {
	margin: auto;
	padding: 3em;
	text-align: center;
	width: 55%;
}

nav {
	
	background: -webkit-linear-gradient(left, #B68632 , #E7BA77);
	background: -moz-linear-gradient(left, #B68632 , #E7BA77);
	background: -o-linear-gradient(left, #B68632 , #E7BA77);
	background: -ms-linear-gradient(left, #B68632 , #E7BA77);
	/*background-color: #F3C383;*/
	border: 1px black solid;
	font-family: 'Noto Serif', serif;
	letter-spacing: 2px;
	padding: 2em;
	text-align:	center;
}

nav a{
	background-color: #724200 ;
	color: #16fdff;

}

nav a:hover{
	background-color: #9E61A1;
	color: #3AFF3C;
}

nav a:active{
	background-color: #9E61A1;
	color: #3AFF3C;
}

section {
	
	margin: auto;
	padding: 3em;
	text-align: center;
}

section a {
	display: block;
}

p {
	margin: auto;
	text-align: center;
	width: 50%;
}

ol {
	margin: auto;
	text-align: center;
}


ul {
	margin: auto;
	text-align: center;
}

h1 {
	font-family: 'Pacifico' , sans-serif;
	margin:auto;
	text-align: center;
}

h2{
	margin:auto;
	text-align: center;
}

h3 {
	margin:auto;
	text-align: center;
}

h4{
	margin:auto;
	text-align: center;
}

#column1 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column2 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column3 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column4 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column5 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}

#column6 {
	background-color: #8BF5FF;
	border:1px black solid;
	padding: 2em;
	width: 30%;
}





.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

.column {
	float: left;
	margin: auto;
	padding: 5em;
}





@media only screen and (max-width: 975px) {

.imagelinks img{
	display: block;
}
}

@media only screen and (max-width: 750px) {
	

	p{
		width: 75%;
	}

	#column1,#column2,#column3,#column4,#column5,#column6{
		
		width: 10%;
		padding: 1em;
	}
}

	@media only screen and (max-width: 600px) {
	
	nav a {
		display: block;
	}

	#column1,#column2,#column3,#column4,#column5,#column6{
        
        display: block;
        padding: 1em;
        text-align: center;
        width: 65%;
    }
}

 @media only screen and (max-width: 460px) {  

    #column1,#column2,#column3,#column4,#column5,#column6{
        
        display: block;
        padding: 1em;
        text-align: center;
        width: 85%;
}	

}