@import url(https://fonts.googleapis.com/css?family=Maven+Pro:900);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
aside{

}
body{

}
div{
	float:right;
	height: auto;
	margin:0 o 10px 10px;
	border: 1px solid #666;
	padding: 2px;
	width: 65%;
}
footer{

}
header{

}
nav {
	text-align:center;
	margin-top: 30px;
	margin-bottom: 30px;
	letter-spacing: 4px;
main{

}
h1{

}	
h2{

}
ul	{
	text-align: center;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
.floatright{
	float:right;
	margin:0 o 10px 10px;
	border: 1px solid #666;
	padding: 2px;
	width: 50px;
}	
}
.navlinks	{
	color: #16fdff;
	font-family: 'Noto Serif', serif;
	text-align:	center;
}	